.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: transparent;
  padding: 1.5rem 0;
  z-index: 100;
  transition: all 0.3s ease;
}

.navbar.scrolled {
  background-color: var(--nav-bg);
  padding: 1rem 0;
  box-shadow: 0 2px 10px var(--shadow-color);
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
  position: relative;
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.navbar-right {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.logo a {
  font-size: 1.8rem;
  font-weight: bold;
  color: var(--text-color);
  text-decoration: none;
}

.logo a span {
  color: var(--primary-color);
}

.nav-links {
  display: flex;
  gap: 2rem;
}

.nav-link {
  color: var(--text-color);
  text-decoration: none;
  font-size: 1rem;
  font-weight: bolder;
  font-family: 'Times New Roman', Times, serif;
  transition: color 0.3s ease;
}

.nav-link:hover,
.nav-link.active {
  color: var(--accent-color);
}

.theme-toggle {
  background: none;
  border: none;
  color: var(--text-color);
  font-size: 1.2rem;
  cursor: pointer;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease;
}

.theme-toggle:hover {
  transform: rotate(30deg);
  color: var(--accent-color);
}

.menu-toggle {
  display: none;
  color: var(--text-color);
  font-size: 1.5rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.menu-toggle:hover {
  color: var(--accent-color);
}

@media (max-width: 768px) {
  .nav-links {
    position: fixed;
    top: 0;
    right: -100%;
    width: 70%;
    height: 100vh;
    background-color: var(--nav-bg);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: right 0.4s ease;
    z-index: 99;
    padding: 4rem 0;
    gap: 2.5rem;
    box-shadow: -5px 0 10px var(--shadow-color);
  }

  .nav-links.active {
    right: 0;
  }

  .menu-toggle {
    display: block;
    z-index: 100;
  }

  .nav-link {
    font-size: 1.2rem;
  }
} 